.container{
    margin-bottom: 100px;
}
.pink-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px;
}
.price{
    color: #FF136F;
}
.buy-now-button{
background-image:linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
color: #fff;
border-radius: 8px;
border: none;
padding: 9px 25px;
cursor: pointer;
}
.cat1{
    background-image:linear-gradient(to bottom, #eebc18 0%, #ece90d 100%);
}
.cat2{
    background-image:linear-gradient(to bottom, #b4044b 0%, #fc629d 100%);
}
.cat3{background-image:linear-gradient(to bottom, #7356f3 0%, #1317ff 100%);background-color: blue;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.catagories h1{
    color: #fff;
}
.catagories im{
    width: 100px;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgrey;

}
.card-footer{
    background-color: white;
    border-top: none;
}
#subscribe{
    height: 300px;

}
#subscribe h6{
    color: grey;
}
footer{
    text-align: center;
} 